/* Author: Timos Mukoko */

@media screen and (min-width: 400px) {
    body {
        background-color: rgb(2, 79, 105);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 255, 255);
    }

    .container-1 div,
    .container-2 div,
    .container-3 div {
        border: 1px #ccc solid;
        padding: 1%;
    }

    .container-2 {
        display: flex;
    }

    .container-3 {
        display: flex;
        justify-content: space-between;
    }

    /* .container-2-skills {
        flex: 1; */
        /*background-color: lightgray;*/
    /* } */

    /* .container-2-experience {
        flex: 3;
    } */

    /* .container-2-education {
        flex: 1;
    } */

    /* .container-3-others {
        /*width: 29%;*/
        /* flex-basis: 29%; */

    /* } */

    .no-bullets {
        list-style-type: none;
        /* Removes the bullet points */
    }

    a:link {
        color: rgb(241, 246, 241);
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }

}

@media screen and (min-width: 900px) {

    body {
        background-color: aquamarine;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }

    .container-1 div,
    .container-2 div,
    .container-3 div {
        border: 1px #ccc solid;
        padding: 1%;
    }

    .container-2 {
        display: flex;
    }

    .container-3 {
        display: flex;
        justify-content: space-between;
    }

    .container-2-skills {
        flex: 1;
        background-color: lightgray;
    }

    .container-2-experience {
        flex: 3;
    }

    .container-2-education {
        flex: 1;
    }

    .container-3-others {
        /*width: 29%;*/
        flex-basis: 29%;

    }

    .no-bullets {
        list-style-type: none;
        /* Removes the bullet points */
    }
    a:link {
        color: rgb(1, 18, 117);
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }


}